#contenedor{
    width: 900px;
    height: 1000px;
    background-color:  #f1ecea;
    margin: auto;

}
.Encabezado{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Cabecera{
    height: 15%;
    background-color:  #3a251c ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barraNavegacion{
    height: 5%;
    background-color: #b46424 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.barraNavegacion{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.texto{
    margin: 40px;
}

.imagenes {
    display: flex;
    justify-content: center;
}

#Seccion{
    width:  64%;
    background-color: #362f2f ;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-right: 1%;
}

picture{
    align-content: center;
}

.img{
    width: 100px;
    height: 100px;
    border: solid 1px;
    margin: 5px 5px;
    
}

Aside{
    width: 35%;
    background-color: #b58c7c ;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    
}

img{
    width: 100px;
    height: 100px;
    border: solid 1px;
    margin: 5px 5px;
}

main{
    display: flex;
    height: 100%;
    display: flex;
}

#pieNavegacion{
    height: 10%;
    background-color:  #3a251c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}